<header>
  <nav>
    <section class="left">
        <img src="../images/chef-hat.png" alt="chef hat logo" class="chef-logo">      
        <!-- <img src="/images/chef-hat.png" alt="chef hat logo" class="chef-logo"> -->
        <h1>Persian Kitchen</h1>
    </section>
    <section class="right">
      <span class="current-time"></span>
      <span class="current-location"></span>
      <!-- <ul>
          <li><a href="index.html" class="home">Home</a></li>
          <li><a href="pages/contactUs.html" class="contactBtn">Contact Us</a></li>
      </ul>       -->
      <ul>
          <li><a href="../index.html" class="home">Home</a></li>
          <li><a href="../pages/contactUs.html" class="contactBtn">Contact Us</a></li>
      </ul>
    </section>
  </nav>
  <script type="module" src="../scripts/header.js"></script>
</header>